body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.header {
    /*background: linear-gradient(45deg, rgb(47, 43, 43), rgb(13, 16, 17))
    ,url("../img/header-bg.png");*/
    background: url("../img/header-bg.png");
    height: 1012px;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    z-index: -2;

}

.header-container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -120px;
}

.header-decoration {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
   /* background-color: rgba(0,0,0, 0.5);*/

}

.header-nav {
    display: flex;
    justify-content: space-between;

}

.header-logo-link {
    display: flex;
    text-decoration: none;
}

.header-logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    background: url("../img/polygon logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 58px;
    height: 67px;
    text-align: center;
    padding-top: 18px;
    margin-top: 26px;
}

.logo-first-part {
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 6px;
    margin-top: 38px;
}

.logo-second-part {
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
    font-weight: bold;
}

.header-nav-list {
    text-transform: uppercase;
    display: flex;
    margin-top: 49px;

}

.header-nav-list-item {
    margin-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    display: block;
}

.header-nav-list-item:after {
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0; /*задаём длинну линии до наведения курсора*/
    height: 2px; /*задаём ширину линии*/
    background-color: #18CFAB; /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out; /*задаём время анимации*/
}

.header-nav-list-item:hover:after {
    transition: width 0.5s ease-out;
    width: 100%;
}

.header-nav-list-item:hover {
    transition: .3s;
    color: #18CFAB;
    cursor: pointer;

}


.header-nav-list-item a {
    display: block;
}

.header-nav-list-item:last-child {
    margin-right: 0;
}


.header-about-info {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 264px;
}

.header-about-info-second-part {
    color: #18CFAB;
}

.header-main-info {
    text-align: center;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 22px;
}

.header-secondary-info {
    text-align: center;
    font-size: 34px;
    color: #D4D4D4;
    margin-top: 22px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 129px;
    position: relative;
}

.buttons div:first-child {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 411px;
    top: -5px;
    width: 154.5px;
    height: 64px;
    cursor: pointer;
}

.buttons div:nth-of-type(2) {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 592px;
    top: -5px;
    width: 156.5px;
    height: 64px;
    cursor: pointer;
}

.button {
    text-align: center;
    margin-right: 26px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    position: relative;
    display: block;


}

.button:hover {
    cursor: pointer;
}


.button.button-explore {
    background: #18CFAB;
    padding: 16px 18px 16px 17px;
}

.button.button-purchase {
    margin-right: 0;
    background: #00CBF6;
    padding: 16px 11px 16px 12px;
}


.options-cards {
    display: flex;
    margin-top: 8px;
    width: 100vw;

}

.card-item-main {
    background: #1C2A33;
    width: 482px;
    height: 377px;

    display: flex;
    flex-direction: column;

}

.card-item-secondary {
    background: #18CFAB;
    width: 482px;
    height: 377px;

    display: flex;
    flex-direction: column;

}

.card-image-main {
    margin-top: 87px;
    height: 100px;
}

.card-image-secondary {
    height: 75px;
    margin-top: 98px;

}

.card-description-main {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #18CFAB;
    margin-top: 47px;
}

.card-description-secondary {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 60px;
}

.services-container {
    display: flex;
    flex-direction: column;

}

.secondary-title {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    margin-top: 83px;
    margin-bottom: 101px;
    position: relative;
}

.secondary-title::after {
    content: "";
    position: absolute;
    left: 905px;
    top: 64px;
    width: 79px;
    height: 1px;
    background: #18CFAB;
}

.secondary-title::before {
    content: "";
    position: absolute;
    left: 917px;
    top: 68px;
    width: 79px;
    height: 1px;
    background: #18CFAB;
}


.tabs {
    display: flex;
    align-self: center;
}

.tabs-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    font-size: 15.9859px;
    line-height: 39px;
    cursor: pointer;
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    box-sizing: border-box;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
    transition: all 0.5s;
}

.tabs-title.tab-active {
    background: #18CFAB;
    color: #FFFFFF;;
    animation:  fadeIn 1s;
    /* transition: all .75s ease-in;*/
    position: relative;
}

.tabs-title.tab-active::after {
    position: absolute;
    content: "";
    bottom: -14px;
    left: calc(50% - 13.5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13.5px 0 13.5px;
    border-color: #18CFAB transparent transparent transparent;
    animation:  fadeIn 1s;

}

.tabs-item {
    display: none;
    margin-top: 23px;

}


.tabs-item.tab-active {
    /*transition: all .3s ease-in;*/

    /*display: block;*/
    display: flex;
    /*opacity: 1;*/
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

@keyframes fadeIn {
    0%   { opacity: 0.3; }
    100% { opacity: 1; }
}

.tabs-item.tab-active
{
    animation:  fadeIn 1s;
}


.tabs-content {
    width: 1160px;
    margin: 0 auto;
}

.tab-image {
    width: 192px;
    height: 139px;
    object-fit: cover;

}

.tabs-item.tab-active img {

}

.tab-description {
    margin-left: 15px;

}

.purchase {
    background: linear-gradient(45deg, rgb(47, 43, 43), rgb(13, 16, 17)),
    url("../img/Sections background/section-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    width: 100%;
    margin-top: 91px;
    padding-bottom: 127px;
}



.purchase-container {
    width: 1160px;
    margin: 0 auto;
}

.purchase-title {
    padding-top: 126px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
    z-index: 1;

}

.purchase-description {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.single-button-container {
    display: flex;
    justify-content: center;
    margin-top: 62px;
    position: relative;

}

.wtf {
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    left: 482.5px;
    top: -5px;
    width: 169px;
    height: 64px;
    cursor: pointer;
}




